

body {
    font-family: 'Poppins', sans-serif;
}


.container {
    @media (min-width: 1536px) {
        max-width: 1280px!important;
    }

    &--xs {
        max-width: 720px!important;
    }
}


.tf-container {
    &--sm {
        max-width: 1040px;
    }
}

.tawk-agent-chat-bubble  {
    background-color: #00a6d8!important;
}