// ==========================================================================
// # OffCanvas Content
// ==========================================================================

.offcanvas-content {

}


.offcanvas-container {
    transition: left .3s ease-out;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    height: 100%;
    
    &.is-active {
        left: -270px;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}