// ==========================================================================
// # OffCanvasMenu
// ==========================================================================

 .offcanvas-menu {
    display: block;
    // @screen sm {
    //     display: none;
    // }
    width: 100vw;
    // touch-action: none;
     
    position: fixed;
    top: 0;
    bottom: 0; 

    z-index: 1000;
    background: #d13d4e; 
    transition: all .3s cubic-bezier(.19,1,.22,1)!important;
 
    position: fixed;
    top: 0;
    bottom: 0;
    // left: 0;
    z-index: 1000;
    left: 100%;

    &.is-active {
        // right: 0;
        // left: auto;
        left: 0;
        right: auto;
    }

    &__inner {
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: -270px;
        // box-sizing: border-box;
        // width: 270px;
        // padding: 32px;
        // overflow-y: auto;

        width: 100%;
    }

    &__close-button {
        position: absolute;
        z-index: 1000;
        top: 20px;
        right: 20px;
        padding: 5px;
        transition: all .75s cubic-bezier(.19,1,.22,1) .3s;
        transform: scale(0) rotate(0deg);
        // transform: scale(1) rotate(1turn);
        &.is-active {
            transform: scale(1) rotate(1turn);
        }
    }
    
}



.burger-icon {
    display: inline-block;
    width: 36px;
    height: 2px;
    background-color: #d13d4e;

    position: relative;
    margin-top: 11px;
    margin-bottom: 11px;
    transform-origin: 0 50%;
    transition-duration: .5s!important;

    &.is-active {
        transform: scaleX(0) translateX(-90px);
    }

    &:before,
    &:after {
        position: absolute;
        content: "";
        display: block;

        width: 36px;
        height: 2px;
        background-color: #d13d4e;
        transition-duration: .3s;
    }

    &:before {
        top: -11px;
    }

    &:after {
        top: 11px;
    }
}