// ==========================================================================
// # Header
// ==========================================================================

.header {
    
    &.is-sticky {
        background-color: white;
        box-shadow: 0 0 24px 6px rgb(0 0 0 / 10%);
    }

    &.menu-home {
       
        & .menu-item {
            
            & a {
                color: white;
            }
        }
    }

    // Desktop Menu
 
    &__desktop-nav {
        margin-left: auto;
    }
    &__desktop-menu {
        display: flex;

        & .menu-item {
            margin-left: 1.5rem;

            & a {
                transition: color 350ms;
                font-size: 1.125rem;
                color: black;
                &:hover {
                    color: #05a7af;
                }
            }
        }

        
    }

    // Mobile Menu
    &__mobile-menu {
        display: none;
    }

}