// ==========================================================================
// # Header
// ==========================================================================

.header {
    // background-color: #191a1a;
    
    &.is-sticky {
        background-color: white;
        box-shadow: 0 0 24px 6px rgb(0 0 0 / 10%);
    }

    // Desktop Menu
    &__desktop-nav {
        margin-left: auto;
    }
    &__desktop-menu {

        display: flex;
        & .menu-item {
            margin-left: 1.5rem;
            & a {
                font-size: 1.125rem;
                color: black;
            }

        }

    }

    // Mobile Menu
    &__mobile-menu {
        display: none;
    }

}