// ==========================================================================
// # Service Excerpt
// ==========================================================================

.service-excerpt {
    background: white;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);
    &:hover {
        background: linear-gradient(to right, #1be5ef, #00ced8, #30bfd6);//linear-gradient(to right, #f5aaaf,#faaaaa, #faa7a1);
        // #34343f
        color: white; 
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    }
}