// ==========================================================================
// # Service Excerpt
// ==========================================================================

.service-excerpt {
    background: white; 
    -webkit-transition: transform 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);

    &:hover {
        transform: translateY(1.7rem) scale(1.05);
    }

    &--other {
        &:hover {
            transform: translateY(-0.3rem) scale(1.05);
        }
    }

    &__svg {
        font-size: 3em;
        height: 100px;
        width: 80px;
        fill: #02393c;
    }
}