.work--tall {
    padding-bottom: .625rem;
    padding-top: 112%;
    transition-delay: .1s,0s,0s,0s;
}
.work--full {
    padding-top: 40.2777777778%;
}
.work--half {
    padding-top: 56%;
}

.work--third {
    padding-top: 130.4347826087%;
}

.work-list {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}


.work-item { 
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 1.25rem;
    padding-left: 1.25rem;

    & .work-item__link {
        height: 12.5rem;
        
        @screen sm {
            height: auto;
        }
    }
    &:nth-child(1) {
        width: 100%;
        & .work-item__link {
            @screen sm {
            padding-top: 40.2777777778%;
            }
        }
    }

    &:nth-child(2) {
        width: 100%;
        
        @screen sm {
            width: 50%;  
        }
        
        & .work-item__link {
            @screen sm {
                padding-top: 112%; 
            }
            padding-bottom: 1.25rem;
        }
        
    }
    &:nth-child(3) {
        width: 100%;
        @screen sm {
            width: 50%;
        }
        & .work-item__link {
            @screen sm {
            padding-top: 56%;
            }
        }
          
    }
    &:nth-child(4) {
        width: 100%;
        @screen sm {
            width: 50%;
        }
        & .work-item__link {
            @screen sm {
            padding-top: 56%;
            }
        }
          
    }
}


.work-item {

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-color: rgba(12,12,12,.1);
        z-index: 1;
        opacity: 0;
        transition: opacity .3s cubic-bezier(.75,0,.5,1);
    }

    &:focus,
    &:hover {
        transition-delay: .03s,0s,0s,0s;
        cursor: pointer;

        & .work-item:before {
            transition-timing-function: cubic-bezier(.25,0,.125,1);
            opacity: 1;
        }

        & .work-item__inner {
            transform: translateY(-2.25rem);
        }

        & .work-item__cta{
            opacity: 1;
            transition: visibility 0s linear 0s,opacity .2s cubic-bezier(.365,.005,.355,1);
            visibility: visible;
        }
    }


    &.is-active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &--full {
        padding-top: 40.2777777778%;
    }

    &__inner {
        left: 3.125rem;
        bottom: 3.125rem;
        right: 3.125rem;
        position: absolute;
        z-index: 2;
        transition: transform .3s cubic-bezier(.645,.045,.355,1);
        color: white;
        // transition-delay: .05s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
    }

    &__heading {
        font-size: 3rem;
        color: white;
    }

    &__link {
        display: block;
    overflow: hidden;
    position: relative;
    height: auto;
    }

    &__cta {
        font-size: 1.125rem;
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        font-size: .875rem;
        transition: visibility 0s linear .2s,opacity .2s cubic-bezier(.365,.005,.355,1);
        will-change: opacity;
        margin-top: .625rem;
    }

    &__img {
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0;
        height: auto;

        position: absolute;
        right: 0;

        height: 100%;
    }

}