// ==========================================================================
// # Cheat - quick hot fixes
// ==========================================================================



.cta-link {
    background: theme('colors.primary.300');
    padding: 16px 36px;
    border-radius: 10px;
    margin-top: 45px;
    width: 100%;

    font-size: 30px;
    text-align: center;

    transition: background-color 350ms,transform 350ms,-webkit-transform 350ms;

    &:hover {
        transform: scale(.97);
    }
    
    @screen md {
        font-size: inherit;
        text-align: inherit;
        width: auto;
        margin-top: auto;
        border-radius: none;
        padding: 0;
        background: inherit;
    }
}

.cta-link a {
    
    @screen md {
        padding: 16px 36px;
        border-radius: 10px;
        background: theme('colors.primary.300');
        width: auto;
        color: white!important;
    }
    
}