

.container {
    @media (min-width: 1536px) {
        max-width: 1280px!important;
    }

    &--xs {
        max-width: 720px!important;
    }
}


.tf-container {
    &--sm {
        max-width: 1040px;
    }
}


.article {
    h2 {
        @apply text-4xl mt-4 mb-3
    }
    p {
        @apply text-lg mb-2
    }
}


.hero {
    padding: 120px 0 90px;
    @screen md {
        padding: 200px 0 90px;
    }
    &__skewedWrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #0e1117 0%, #0e1117 100%) repeat scroll 0 0;
        
        &-div {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-bottom: 282px solid #fff;
            border-left: 100vw solid transparent;
        }
    }
  
}


.cta-link {
    background: theme('colors.primary.300');
    padding: 16px 36px;
    border-radius: 10px;
    margin-top: 45px;
    width: 100%;

    font-size: 30px;
    text-align: center;
    @screen md {
        font-size: inherit;
        text-align: inherit;
        width: auto;
        margin-top: auto;
        border-radius: none;
        padding: 0;
        background: inherit;
    }
}

.cta-link a {
    
    @screen md {
        padding: 16px 36px;
        border-radius: 10px;
        background: theme('colors.primary.300');
        width: auto;
        color: white!important;
    }
}




 

// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;